[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/evm-lwe-math"]
	path = lib/evm-lwe-math
	url = https://github.com/igor53627/evm-lwe-math.git
